* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Jost", sans-serif;
}

:root {
    font-size: 62.5%;

    --primary-color: #322e6a;
    --secondary-color: #008f4e;
    --color-text: #fff;
    --paragraphy-color: #626262;

    --gradient-green: linear-gradient(to right, #008F4E, #33A571 100%);

    --color-black: #000E07;
    --color-white: #E5F3ED;

    --helvetica: 'Helvetica';
    --helveticaLight: 'HelveticaLight';
    --helveticaBold: 'HelveticaBold';
}

@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/Helvetica.ttf);
}

@font-face {
  font-family: HelveticaLight;
  src: url(../assets/fonts/helvetica-light-587ebe5a59211.ttf);
}

@font-face {
  font-family: HelveticaBold;
  src: url(../assets/fonts/Helvetica-Bold.ttf);
}

html {
    scroll-behavior: smooth;
  }
  
html,
body {
  width: 100%;
  height: 100%;
}
  
ul {
  list-style: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}
  
section {
  padding-block: 10rem;
}

::selection {
  color: #000000;
  background: #d8d8d8;
}

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  /*====  MEDIAS RESPONSIVES ============================ */
  @media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(130rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(150rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(160rem, 100%);
    }
  }

  @media (min-width: 2000px) {
    .wrapper {
      width: min(180rem, 100%);
    }
  }

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: var(--gradient);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }