nav#navigation {
    background: var(--secondary-color);
    opacity: 1;
}

#outorgas {
    background: var(--bg-color);
    padding-block: 10rem;

    overflow: hidden;
}

#outorgas header {
    margin-bottom: 5rem;
    text-align: left;
}

#outorgas header h1 {
    color: var(--color-black);
    margin-top: .5rem;
    font-size: 3.5rem;
    font-weight: 600;

    position: relative;
}

#outorgas header h1 span {
    color: var(--color-black);
    opacity: .5;
}

#outorgas header h1::before {
    content: '';
    position: absolute;
    width: 5px;
    border-radius: 2rem;
    height: 100%;
    top: 0;
    left: -1.5rem;
    background: var(--secondary-color);
}

#outorgas .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

#outorgas .cards .card {
    text-align: left;
}

#outorgas .cards .card .image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem;

    box-shadow:  15px 15px 31px #bebebe,
             -15px -15px 31px #ffffff;

    margin-bottom: 1rem;
}

#outorgas .cards .card h3 {
    font-size: 2.5rem;
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 1rem;
}

#outorgas .cards .card p {
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 400;
}

#outorgas .cards .card a button {
    margin-top: 2rem;
    border: none;
    background: var(--gradient-green);
    color: var(--color-white);
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;

    transition: all 200ms ease-in-out;
}

#outorgas .cards .card a button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #a5a5a5;
}

@media (min-width: 1080px) {  
    section#outorgas .wrapper {
        width: min(112rem, 100%);
      }

    section#outorgas header h1 {
        font-size: 5rem;
        text-align: center;
        margin-bottom: 10rem;
    }

    section#outorgas header h1::before {
        display: none;
    }

    section#outorgas header h1::after {
        content: '';
        position: absolute;
        width: 30%;
        height: 4px;
        bottom: -2rem;
        left: 50%;
        transform: translate(-50%);
        background: var(--gradient-green);
    }

    section#outorgas .cards {
        gap: 7rem;
    }

    section#outorgas .cards .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A" "B";
        align-items: start;
        gap: 8rem;

        position: relative;
    }

    section#outorgas .cards .card::before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 3px;
        background: var(--gradient-green);
        border-radius: 2rem;
    }

    section#outorgas .cards .card .text {
        text-align: left;
    }

    section#outorgas .cards .card.right .text {
        grid-area: A;
        text-align: end;
    }

    section#outorgas .cards .card.right .image {
        display: flex;
        justify-content: end;
    }

    section#outorgas .cards .card .image img {
        width: 100%;
    }

    section#outorgas .cards .card h3 {
        font-size: 3rem;
    }

    section#outorgas .cards .card p {
        font-size: 2rem;
        line-height: 1.6;
        opacity: .7;
    }

    section#outorgas .cards .card a button {
        font-size: 2rem;
    }
}

  @media (min-width: 1200px) {
    section#outorgas .wrapper {
      width: min(110rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    section#outorgas .wrapper {
      width: min(120rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    section#outorgas .wrapper {
      width: min(130rem, 100%);
    }
  }

  @media (min-width: 2000px) {
    section#outorgas .wrapper {
      width: min(140rem, 100%);
    }
  }